---
apiVersion: v1
kind: Secret
metadata:
  name: aws-s3-hummingbird-credentials
  namespace: {{ ocp4_workload_hummingbird_datavolume_namespace }}
type: Opaque
stringData:
  accessKeyId: {{ ocp4_workload_hummingbird_datavolume_s3_access_key_id }}
  secretKey: {{ ocp4_workload_hummingbird_datavolume_s3_secret_access_key }}
