---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: hummingbird-vms
  namespace: openshift-gitops
spec:
  generators:
  - list:
      elements:
{% for n in range(1, ocp4_workload_hummingbird_tenant_num_users | int + 1 ) %}
      - user: {{ ocp4_workload_hummingbird_tenant_user_base }}{{ n }}
{% endfor %}
  template:
    metadata:
      name: "{{ ocp4_workload_hummingbird_tenant_vm_namespace_base }}-{% raw %}{{ user }}{% endraw %}"
      namespace: openshift-gitops
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      destination:
        name: ''
        namespace: "{{ ocp4_workload_hummingbird_tenant_vm_namespace_base }}-{% raw %}{{ user }}{% endraw %}"
        server: 'https://kubernetes.default.svc'
      project: default
      syncPolicy:
        syncOptions:
        - CreateNamespace=true
        automated:
          prune: false
          selfHeal: false
      source:
        repoURL: {{ ocp4_workload_hummingbird_tenant_repo }}
        targetRevision: {{ ocp4_workload_hummingbird_tenant_repo_tag }}
        path: {{ ocp4_workload_hummingbird_tenant_repo_path }}
        helm:
          values: |
            fullNameOverride: "{{ ocp4_workload_hummingbird_tenant_vm_namespace_base }}-{% raw %}{{ user }}{% endraw %}"
            namespacePermissions:
              user: "{% raw %}{{ user }}{% endraw %}"
              role: {{ ocp4_workload_hummingbird_tenant_role }}
            vm:
              name: {{ ocp4_workload_hummingbird_tenant_vm_name }}
              datasourcename: {{ ocp4_workload_hummingbird_tenant_vm_datasource_name }}
              datasourcenamespace: {{ ocp4_workload_hummingbird_tenant_vm_datasource_namespace }}
              username: {{ ocp4_workload_hummingbird_tenant_vm_user }}
              password: {{ ocp4_workload_hummingbird_tenant_vm_password }}
              disksize: {{ ocp4_workload_hummingbird_tenant_vm_disksize }}
              instancetype: {{ ocp4_workload_hummingbird_tenant_vm_instancetype }}
              init_script_url: {{ ocp4_workload_hummingbird_tenant_vm_init_script_url }}
